<h2>
  Log in
</h2>

<%= form_with scope: :session, url: login_path do |form| %>
  <div>
    <%= form.text_field :merchant_name, placeholder: "Merchant Name", required: true %>

    <%= form.submit "Log in" %>

    <div>
      <p>
        Don't have an account?
        <%= link_to "Register", signup_path %>
      </p>
    </div>
  </div>
<% end %>
